/* Start About Us */
.breadcrumb-holder{
    background-color: #f5f5f5;
}
.breadcrumb
{
    padding: 10px 0;
    margin: 0;
}

.about-us{
    padding:70px 0;
}
.about-us h1{
    font-size: 65px;
    letter-spacing: -3px;
    font-weight: bold;
}
.about-us hr{
    width: 160px;
    border-top: 3px solid red;
  
}
.about-us p{
    line-height: 1.8;
}
/* End About Us */


/* Start FAQ */
.panel-group .h1{
    font-weight: 900;
    letter-spacing: -3px;
    margin: 20px 0 15px;
}
.panel-group .panel-title > a::after{
    font-family: 'Glyphicons Halflings';
    float: right;
    content:"\e114";
    color:#333
}
.panel-group .panel-title a.collapsed::after{
    
    font-family: 'Glyphicons Halflings';
    content: "\e080";
    color:#999;
}
/* End FAQ */